<!DOCTYPE html>
<html>
    <head>
        <title>KWK Chicago - Personality Finder</title>
    </head>
    
    <body>
        <h1>How well do you relate to us?</h1>
        
        <img src="https://media.giphy.com/media/l0HlRnAWXxn0MhKLK/giphy.gif">
        
        <form method="POST" action="/results">
            
            <h2>What do you like best?</h2>
                <input type="radio" name="question1" value="0">Reading<br>
                <input type="radio" name="question1" value="5">Swimming<br>
                <input type="radio" name="question1" value="10">Rock-climbing<br>
            
            
            <h2>What do you like best?</h2>
                <input type="radio" name="question2" value="0">Rice<br>
                 <input type="radio" name="question2" value="5">Spaghetti<br>
                  <input type="radio" name="question2" value="10">Fried-rice<br>
                
            
            <h2>What is your favorite subject in school out of these?</h2>
                 <input type="radio" name="question3" value="0">Language-arts<br>
                 <input type="radio" name="question3" value="5">Math<br>
                  <input type="radio" name="question3" value="10">Logic<br>
                
            <h2>What is your favorite color out of these?</h2>
                 <input type="radio" name="question4" value="0">Red<br>
                 <input type="radio" name="question4" value="5">Blue<br>
                  <input type="radio" name="question4" value="10">Purple<br>
            
            <h2>What is your favorite brand of shoes out of these: Universal Thread, Nike, or New Balance?</h2>
                 <input type="radio" name="question5" value="0">Universal Thread<br>
                 <input type="radio" name="question5" value="5">Nike<br>
                  <input type="radio" name="question5" value="10">New Balance<br>    
            
            <br>
            <button type="submit">Lets see who you are most like: Taylor, Isabel, or Jiaming!</button>
            
          

        </form>
        
    </body>
</html>